.footer {
  background-color: #fff5f6;
  min-width: 320px;

  &__container {
    padding-top: 113px;
  }

  &__contacts {
    margin-right: 20px;
  }

  &__heading {
    margin: 0 auto;
    color: #ffa5ba;
    text-transform: uppercase;
    display: block;
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    padding: 0 66px 0 22px;

    &--color {
      color: #d41443;
      padding-top: 17px;
      padding-left: 0;
      font-family: 'Titan One';
      font-size: 34px;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fea5bb;
    fill: #ffffff;
    transition: 0.2s;

    &:hover,
    &:focus {
      background-color: #d41443;
    }
  }
  &__list {
    display: flex;
    justify-content: right;
    gap: 28px;
    margin-top: 43px;
  }

  &__address {
    margin-top: 60px;
    font-style: normal;
    padding-bottom: 40px;
    text-align: right;
  }

  &__paragraph {
    margin: 0 auto;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 13px;
    color: #907e82;
    text-align: center;

    &--position {
      padding-top: 10px;
      margin-bottom: 10px;

      &-two {
        padding-bottom: 15px;
      }
    }
  }
}

.link {
  display: block;
  text-decoration: none;
  color: #000;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 13px;

  &__address--phone {
    color: #d41443;
  }
}

.address__container {
  border-top: 1px solid #e1e1e1;
}

@media (min-width: 480px) {
  .footer__container {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .footer__container {
    padding-top: 165px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }

  .footer__heading {
    font-size: 26px;
    max-inline-size: 340px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    letter-spacing: 0.06em;

    &--color {
      font-size: 48px;
      margin-left: 17px;
    }
  }

  .footer__paragraph {
    display: inline-block;
  }

  .footer__address {
    display: inline-block;
    font-size: 14px;
  }

  .footer__list {
    margin-top: 0;
  }

  .address__container {
    text-align: center;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }

  .footer__heading {
    font-size: 34px;
    max-inline-size: none;
    letter-spacing: 0.06em;
    padding-left: 0;
    display: block;

    &--color {
      margin-left: 0;
      font-size: 58px;
      letter-spacing: 0.07em;
      padding: 0;
    }
  }

  .footer__address {
    font-size: 16px;
    margin-left: auto;
    padding: 0;
    margin-top: 50px;
  }

  .address__container {
    padding-top: 5px;
  }
}
