<section class="about" id="aboutus">
    <img class="about__background-img" src="./images/a_background.png" alt="bg with milk" srcset="./images/a_background.png 320w,
            ./images/a_background@2x.png 640w,
            ./images/a_background@3x.png 960w,
            ./images/a_background@4x.png 1280w"
        sizes="(min-width:1280px) 1280px, (min-width:960px) 960px, (min-width:640px) 640px, (min-width:320px) 320px, 100vw">
    <div class="about__container">
        <h3 class="about__title--secondary">Tradition and Love</h3>
        <h2 class="about__title">How it's made?</h2>
        <img class="about__picture" src="./images/a_cow-with-milk.png" srcset="
                ./images/a_cow-with-milk.png 280w,
                ./images/a_cow-with-milk@2x.png 560w,
                ./images/a_cow-with-milk@3x.png 840w
                " sizes="(min-width:1200px) 840px, (min-width:768px) 560px,(min-width:320px) 280px, 100vw"
            alt="cow picture with milk" width="280" height="279" />
        <div class="about__tablet">
            <ul class="about__text">
                <li class="about__text--color">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</li>
                <li class="about__text--break">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
                    feugiat urna maximus. Cras massa nibh, tincidunt.</li>
                <li>Aliquam erat volutpat. Aenean accumsan.</li>
            </ul>
            <button class="about__btn" type="button">Read more
                <svg class="about__btn--icon" widht="4.43" height="8">
                    <use href="./images/icons.svg#icon-arrow_right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>