<section class="advantages-section" id="howitsmade">
  <h2 class="advantages">Advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__item advantages__item--tribe">
      721
      <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item advantages__item--apples">
      16kg
      <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__item advantages__item--heart">
      84
      <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>