<section class="contacts" id="contact">
  <img class="contacts__dot-background" alt="tło w kropki" src="./images/c_pink-bubbles.png"
    srcset="./images/c_pink-bubbles@2x.png 2x, ./images/c_pink-bubbles@3x.png 3x" />
  <div class="contacts__cards-container">
    <div class="contacts__card">
      <span class="contacts__label">CAFE</span>
      <h4 class="contacts__heading">Chicago</h4>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul class="contacts__item contacts__border">
        <li>
          <h4 class="contacts__open-days">Monday - Friday</h4>
          <p class="contacts__open-hour"><time>06:00 AM</time> - <time>10:00 PM</time></p>
        </li>
        <li>
          <h4 class="contacts__open-days">Saturday - Sunday</h4>
          <p class="contacts__open-hour"><time>08:00 AM</time> - <time>16:00 PM</time></p>
        </li>
      </ul>
      <ul class="contacts__links">
        <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </div>

    <div class="contacts__card">
      <span class="contacts__label contacts__label--color">FOODTRUCK</span>
      <h4 class="contacts__heading">Los Angeles</h4>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul class="contacts__item contacts__border">
        <li>
          <h4 class="contacts__open-days">Monday - Friday</h4>
          <p class="contacts__open-hour"><time>06:00 AM</time> - <time>10:00 PM</time></p>
        </li>
        <li>
          <h4 class="contacts__open-days">Saturday - Sunday</h4>
          <p class="contacts__open-hour"><time>08:00 AM</time> - <time>16:00 PM</time></p>
        </li>
      </ul>
      <ul class="contacts__links">
        <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </div>

    <div class="contacts__card">
      <span class="contacts__label">CAFE</span>
      <h4 class="contacts__heading">New York</h4>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <ul class="contacts__item contacts__border">
        <li>
          <h4 class="contacts__open-days">Monday - Friday</h4>
          <p class="contacts__open-hour"><time>06:00 AM</time> - <time>10:00 PM</time></p>
        </li>
        <li>
          <h4 class="contacts__open-days">Saturday - Sunday</h4>
          <p class="contacts__open-hour"><time>08:00 AM</time> - <time>16:00 PM</time></p>
        </li>
      </ul>
      <ul class="contacts__links">
        <li><a href="tel:+61(0)383766284">+61(0) 383 766 284</a></li>
        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
      </ul>
    </div>
  </div>
  <div class="contacts__btn-container">
    <button class="contacts__btn-locations" type="button">
      Our Locations
      <svg class="contacts__icon-first" width="5" height="8">
        <use href="./images/icons.svg#icon-arrow_right"></use>
      </svg>
    </button>

    <button class="contacts__btn-franchise" type="button">
      Franchise<svg class="contacts__icon-second" width="5" height="8">
        <use href="./images/icons.svg#icon-arrow_right"></use>
      </svg>
    </button>
  </div>
</section>