<section class="customer">
    <div class="customer__container">
        <div class="customer__tittle">
            <h2 class="customer__heading">Customer Reviews</h2>
        </div>
        <!--img---->
        <div class="customer__profile-img">
            <img src="./images/cr_person1.png" />
        </div>
        <!--Comments---------------------------------------->
        <div class="customer__comment">
            <p class=" customer__comment-gradient">
                <span class="customer__comment-txt">Nullam viverra consectetuer.
                    Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </span>
            </p>
        </div>
        <!--User---------------------------------------->
        <p class="customer__name ">Emily, Los Angeles</p>
        <div class="customer__pagination">
            <svg class="customer__svg-active" width='12.4' height="12">
                <use href="./images/icons.svg#icon-home"></use>
            </svg>
            <svg class="customer__svg-notactive" width='12' height="12">
                <use href="./images/icons.svg#icon-customer_circle"></use>
            </svg>
            <svg class="customer__svg-notactive" width='12' height="12">
                <use href="./images/icons.svg#icon-customer_circle"></use>
            </svg>
        </div>
    </div>

    <div class="customer customer__box customer_invisible">
        <div class="customer__tittle">
            <h2 class="customer__heading">Customer Reviews</h2>
        </div>
        <!--img---->
        <div class="customer__profile-img">
            <img src="./images/cr_person2.png" />
        </div>
        <!--Comments---------------------------------------->
        <div class="customer__comment ">
            <p class=" customer__comment-gradient">
                <span class="customer__comment-txt">Nullam viverra consectetuer.
                    Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </span>
            </p>
        </div>
        <!--User---------------------------------------->
        <p class="customer__name ">Emily, Los Angeles</p>
        <div>
            <svg class="customer__svg-distance" width='12' height="12">
                <use href="./images/icons.svg#icon-customer_circle"></use>
            </svg>
            <svg class="customer__svg" width='12' height="12">
                <use href="./images/icons.svg#icon-customer_circle"></use>
            </svg>
        </div>
    </div>

    <div class="customer customer__box customer_invisible">
        <div class="customer__tittle">
            <h2 class="customer__heading">Customer Reviews</h2>
        </div>
        <!--img---->
        <div class="customer__profile-img">
            <img src="./images/cr_person3.png" />
        </div>
        <!--Comments---------------------------------------->
        <div class="customer__comment ">
            <p class=" customer__comment-gradient">
                <span class="customer__comment-txt">Nullam viverra consectetuer.
                    Quisque cursus et, porttitor risus. Aliquam
                    sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </span>
            </p>
        </div>
        <!--User---------------------------------------->
        <p class="customer__name ">Emily, Los Angeles</p>
        <div>
            <svg class="customer__svg-active" width='12.4' height="12">
                <use href="./images/icons.svg#icon-home"></use>
            </svg>
            <svg class="customer__svg-distance" width='12' height="12">
                <use href="./images/icons.svg#icon-customer_circle"></use>
            </svg>
            <svg class="customer__svg" width='12' height="12">
                <use href="./images/icons.svg#icon-customer_circle"></use>
            </svg>
        </div>
    </div>

</section>