<footer class="footer">
    <div class="footer__container">

        <h2 class="footer__heading footer__heading--position">HOMEMADE ICE CREAM MADE
            <span class="footer__heading footer__heading--color">WITH PASSION
            </span>
        </h2>
<div class="footer__contacts">
            <div class="footer__list">
                <a class="footer__link" href="https://github.com/" target="_blank">
                    <svg class="footer__icon footer__icon--social">
                        <use width="24" height="24" x="4" y="4" xlink:href="./images/icons.svg#icon-github">
                        </use>
                    </svg>
                </a>
                <a class="footer__link" href="https://telegram.org/" target="_blank">
                    <svg class="footer__icon footer__icon--social">
                        <use width="24" height="24" x="4" y="4" xlink:href="./images/icons.svg#icon-telegram">
                        </use>
                    </svg>
                </a>
                <a class="footer__link" href="https://www.facebook.com/" target="_blank">
                    <svg class="footer__icon footer__icon--social">
                        <use width="24" height="24" x="4" y="4" xlink:href="./images/icons.svg#icon-facebook">
    
                        </use>
                    </svg>
                </a>
            </div>
            <address class="footer__address">
                <a class="link link__addres" href="tel:+61(0)383766284" rel="noopener noreferrer"> Feel free to contact
                    <span class="link__address--phone"> +61 (0) 383 766 284</span>
                </a>
            </address>
</div>
    </div>
    <div class="address__container">
        <p class="footer__paragraph footer__paragraph--position">© 2019 - IceCream.</p>
        <p class="footer__paragraph footer__paragraph--position-two">All Rights Reserved.</p>
    </div>
</footer>