<section class="hero">
  <div class="hero__container">
    <div class="hero__primary-div">
      <div class="hero__title-div">
        <h1 class="hero__title">
          Ice cream made with <span class="hero__title-span">passion</span>
        </h1>
        <div class="hero__buttons">
          <a class="hero__button-link" href="#home"><button class="hero__button hero__button--red"
              type="button">Products</button></a>
          <a class="hero__button-link" href="#howitsmade"><button class="hero__button hero__button--white"
              type="button">
              How it's made?
            </button></a>
        </div>
      </div>
      <div class="hero__numbers-div">
        <div class="hero__cafes">
          <div class="hero__number">16</div>
          <div class="hero__text">cafes</div>
          <div class="hero__circle-white"></div>
        </div>
        <div class="hero__foodtrucks">
          <div class="hero__number">23</div>
          <div class="hero__text">foodtrucks</div>
          <div class="hero__circle-white"></div>
        </div>
      </div>
    </div>
    <div class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </div>
    <img class="hero__arrow" src="./images/p_arrow.png" srcset="./images/p_arrow@2x.png 2x" alt="arrow" />
  </div>
  <img class="hero__circle-pink" src="./images/h_circle-pink.png" srcset="./images/h_circle-pink@2x.png 2x"
    alt="pink circle" />
  <img class="hero__milk-jug" src="./images/h_milk-jug.png" srcset="./images/h_milk-jug@2x.png 2x" alt="milk-jug" />
  <img class="hero__icecream" src="./images/h_icecream.png" srcset="./images/h_icecream@2x.png 2x" alt="icecream" />
  <img class="hero__icecream-eat" src="./images/h_icecream-eat.png" srcset="./images/h_icecream-eat@2x.png 2x"
    alt="icescream" />
</section>