<div class="mobile-menu js-menu-container ">
  <button class="mobile-menu__close js-close-menu">
    <svg class="mobile-menu__icon" width="14" height="14">
      <use href="./images/icons.svg#icon-mobilemenu_close"></use>
    </svg>
    <button class="mobile-menu__buy js-menu-mobile-close" data-modal-open-mobile>
      Buy now <svg class="mobile-menu__buy-icon" width="5" height="8">
        <use href="./images/icons.svg#icon-arrow_right"></use>
      </svg>
    </button>
    <ul class="mobile-menu__menu">
      <li class="mobile-menu__item">
        <a href="#home" class="mobile-menu__link mobile-menu__link--active js-menu-mobile-close">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#aboutus" class="mobile-menu__link js-menu-mobile-close">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#howitsmade" class="mobile-menu__link js-menu-mobile-close">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#ourproducts" class="mobile-menu__link js-menu-mobile-close">Our products</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contact" class="mobile-menu__link js-menu-mobile-close">Contact</a>
      </li>
    </ul>
</div>