<section class="products" id="ourproducts">
    <div class="products__container">
        <h3 class="products__header">
            <p class="products__header--text">100% natural</p> products
        </h3>
        <div class="products__cards">
            <div class="products__card products__grid--1">
                <h4 class="products__card--header">ice cream</h4>
                <p class="products__card--text">
                    Lorem ipsum dolor sit
                    amet, consectetur
                    adipiscing elit, sed do
                    eiusmod tempor incididunt
                    ut labore et. dolore magna
                    aliqua facilisis.
                </p>
                <button class="products__card--button">
                </button>
            </div>
            <div class="products__card products__grid--2">
                <h4 class="products__card--header">ice coffee</h4>
                <p class="products__card--text">
                    Lorem ipsum dolor sit
                    amet, consectetur
                    adipiscing elit, sed do
                    eiusmod tempor incididunt
                    ut labore et. dolore magna
                    aliqua facilisis.
                </p>
                <button class="products__card--button">
                </button>
            </div>
            <div class="products__card products__grid--3">
                <h4 class="products__card--header">milkshakes</h4>
                <p class="products__card--text">
                    Lorem ipsum dolor sit
                    amet, consectetur
                    adipiscing elit, sed do
                    eiusmod tempor incididunt
                    ut labore et. dolore magna
                    aliqua facilisis.
                </p>
                <button class="products__card--button" type="button">
                </button>
            </div>
        </div>
    </div>
</section>